<% const d = new Date()
let year = d.getFullYear() %>
<footer>
        <p>
            &copy; <span id="currentyear"></span>  Rachel Amarachukwu Ukpabi. Nigeria| CSE340
        </p>
        <p id="lastModified"></p>

    </footer>